name: CL Tryjobs

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    # Get code
      - name: Checkout repository
        uses: actions/checkout@v3

    # Set up Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

    # Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r deps.txt

    # Run all Python files
      - name: Run all Python files
        run: |
          find . -name "*.py" -type f -print0 | while IFS= read -r -d '' f; do
              echo "Running $f"
              dir=$(dirname "$f")
              cd "$dir"
              python "$(basename "$f")" || exit 1
              cd - > /dev/null
          done
